<div class="container">
<h1 class="h1Login">Login do Usuário</h1>
<div class="jumbotron">
  <div class="container">
     <form class="form-horizontal">
       <!--cnpj-->
          <div class="form-group">
              <label for="cnpj" class="control-label col-sm-3">CNPJ da Empresa:</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="Cnpj">
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="suvCnpj" disabled>
              </div>
            </div>
            
            <!--serviço-->
            <div class="form-group">
                   <label for="exampleSelect1" class="control-label col-sm-3">Serviço:</label>
                    <div class="col-sm-8">
                      <select class="form-control" id="exampleSelect1">
                      <option>Serviço Auditar estoque Periodo de 01/02/2017 à 28/02/2017 [35]</option>
                    </select>
                    </div>
               </div>
               
            <!--cpf do usuario-->
            <div class="form-group">
              <label for="cnpj" class="control-label col-sm-3">CPF do Usuário:</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="cpf">
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="subCpf" disabled>
              </div>
            </div>
            <!--senha-->
            <div class="form-group">
              <label for="cnpj" class="control-label col-sm-3">Senha de Acesso:</label>
              <div class="col-sm-3">
                <input type="password" class="form-control" name="Cnpj">
              </div>
            </div>
            
            <div class="form-group"> 
              <div class="col-md-16 text-center">
                  <button class="btn btn-primary btn-lg" >Acessar</button>
                  <button class="btn btn-default btn-lg" >Esqueci Minha Senha</button>
                 
                  <!-- Button trigger modal -->
                    <button type="button" id="mymodal" class="btn btn-default btn-lg" data-toggle="modal" 
                    data-target="#myModal" data-backdrop="static">
                    Fazer Cadastro
                    </button>
            </div>
            </div> 

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cadastro de Empresas</h4>
                </div>
                <div class="modal-body">
                    <cadastro-usuario></cadastro-usuario>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
            </div>   

      </form>
  </div>
</div>
</div>


