#cadastro{
    color: white;
}
#divServico{
    background: #4A708B;
    text-align: center;
    color: white;
}

#checkboxCadastro{
    float: center;
    font-size: 10;
    
}

.check{
    margin-left: 40%;
}

#closeModal{
    color: white;
}
