<div class="container" >
    <form>
        <!--código de acesso--> 
       <div class="form-group form-group-sm">
              <label for="razaoSocial" class="control-label col-sm-2">Senha:</label>
              <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="Insira uma senha para acesso! " 
            aria-describedby="sizing-addon3">
              </div>
              <!--CNPJ-->
              <label for="razaoSocial" class="control-label col-sm-2">CNPJ:</label>
              <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="CNPJ da empresa " aria-describedby="sizing-addon3">
              </div>
            </div>

               <!--razão social-->
            <div class="form-group form-group-sm">
              <label for="razaoSocial" class="control-label col-sm-2">Razão Social:</label>
              <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="Razão Social " aria-describedby="sizing-addon3">
              </div>
            </div>
            
             <!--cep-->
            <div class="form-group form-group-sm">
              <label for="razaoSocial" class="control-label col-sm-2">CEP:</label>
              <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="CEP" aria-describedby="sizing-addon3">
              </div>
              <label for="razaoSocial" class="control-label col-sm-2">N°:</label>
              <div class="col-sm-2">
            <input type="password" class="form-control" placeholder="Número" aria-describedby="sizing-addon3">
              </div>
            </div>

             <!--logradura-->
            <div class="form-group form-group-sm">
              <label for="razaoSocial" class="control-label col-sm-2">Logradura:</label>
              <div class="col-sm-3">
            <input type="password" class="form-control" placeholder="" aria-describedby="sizing-addon3">
              </div>
              <!--complemento-->
              <label for="razaoSocial" class="control-label col-sm-2">complemento:</label>
              <div class="col-sm-5">
            <input type="password" class="form-control" placeholder="" aria-describedby="sizing-addon3">
              </div>
            </div>

            <!--bairro-->
            <div class="form-group form-group-sm">
              <label for="bairro" class="control-label col-sm-2">Bairro:</label>
              <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="" aria-describedby="sizing-addon3">
              </div>
            </div>

            <!--codigo da cidade-->
            <div class="form-group form-group-sm">
              <label for="razaoSocial" class="control-label col-sm-2">Código da Cidade:</label>
              <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon3">
              </div>
               <!--Cidade-->
                <label for="cidade" class="control-label col-sm-2">Cidade:</label>
                    <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon3">
              </div>
               <!--Uf-->
              <label for="uf" class="control-label col-sm-2">UF:</label>
              <div class="col-sm-1">
            <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon3">
              </div>
            </div>
    </form>
</div>